<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Lab #5: Library handbook</display-name>

    <servlet>
        <servlet-name>bookList</servlet-name>
        <servlet-class>web.servlet.page.BookListPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>bookList</servlet-name>
        <url-pattern>/books</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>bookEdit</servlet-name>
        <servlet-class>web.servlet.page.BookEditPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>bookEdit</servlet-name>
        <url-pattern>/editBook/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>authorEdit</servlet-name>
        <servlet-class>web.servlet.page.AuthorEditPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>authorEdit</servlet-name>
        <url-pattern>/editAuthor/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>readerEdit</servlet-name>
        <servlet-class>web.servlet.page.ReaderEditPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>readerEdit</servlet-name>
        <url-pattern>/editReader/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteBook</servlet-name>
        <servlet-class>web.servlet.function.delete.DeleteBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteBook</servlet-name>
        <url-pattern>/deleteBook/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteAuthor</servlet-name>
        <servlet-class>web.servlet.function.delete.DeleteAuthorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteAuthor</servlet-name>
        <url-pattern>/deleteAuthor/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteReader</servlet-name>
        <servlet-class>web.servlet.function.delete.DeleteReaderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteReader</servlet-name>
        <url-pattern>/deleteReader/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addBook</servlet-name>
        <servlet-class>web.servlet.page.AddBookPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addBook</servlet-name>
        <url-pattern>/addBook/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addAuthor</servlet-name>
        <servlet-class>web.servlet.page.AddAuthorPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addAuthor</servlet-name>
        <url-pattern>/addAuthor/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addReader</servlet-name>
        <servlet-class>web.servlet.page.AddReaderPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addReader</servlet-name>
        <url-pattern>/addReader/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>authorByHint</servlet-name>
        <servlet-class>web.servlet.function.hint.AuthorByHintServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>authorByHint</servlet-name>
        <url-pattern>/authorByHint</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>readerByHint</servlet-name>
        <servlet-class>web.servlet.function.hint.ReaderByHintServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>readerByHint</servlet-name>
        <url-pattern>/readerByHint</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>authFilter</filter-name>
        <filter-class>web.filter.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>authFilter</filter-name>
        <url-pattern>/editBook/*</url-pattern>
        <url-pattern>/editAuthor/*</url-pattern>
        <url-pattern>/editReader/*</url-pattern>
        <url-pattern>/addBook/</url-pattern>
        <url-pattern>/addAuthor/</url-pattern>
        <url-pattern>/addReader/</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>authVk</servlet-name>
        <servlet-class>web.servlet.function.auth.AuthVkServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>authVk</servlet-name>
        <url-pattern>/authVk</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>web.servlet.function.auth.LogOutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logIn</servlet-name>
        <servlet-class>web.servlet.function.auth.LogInServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/logIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>authorization</servlet-name>
        <servlet-class>web.servlet.page.AuthPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>authorization</servlet-name>
        <url-pattern>/authorization</url-pattern>
    </servlet-mapping>

</web-app>