<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Lab #5: Library handbook</display-name>

    <servlet>
        <servlet-name>bookList</servlet-name>
        <servlet-class>web.servlet.page.BookListPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>bookList</servlet-name>
        <url-pattern>/books</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>bookEdit</servlet-name>
        <servlet-class>web.servlet.page.BookEditPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>bookEdit</servlet-name>
        <url-pattern>/book/*</url-pattern>
    </servlet-mapping>

</web-app>