<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Lab #5: Library handbook</display-name>

    <servlet>
        <servlet-name>bookList</servlet-name>
        <servlet-class>web.servlet.page.BookListPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>bookList</servlet-name>
        <url-pattern>/books</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>bookEdit</servlet-name>
        <servlet-class>web.servlet.page.BookEditPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>bookEdit</servlet-name>
        <url-pattern>/book/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>authorEdit</servlet-name>
        <servlet-class>web.servlet.page.AuthorEditPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>authorEdit</servlet-name>
        <url-pattern>/author/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>readerEdit</servlet-name>
        <servlet-class>web.servlet.page.ReaderEditPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>readerEdit</servlet-name>
        <url-pattern>/reader/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteBook</servlet-name>
        <servlet-class>web.servlet.function.DeleteBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteBook</servlet-name>
        <url-pattern>/deleteBook/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteAuthor</servlet-name>
        <servlet-class>web.servlet.function.DeleteAuthorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteAuthor</servlet-name>
        <url-pattern>/deleteAuthor/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteReader</servlet-name>
        <servlet-class>web.servlet.function.DeleteReaderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteReader</servlet-name>
        <url-pattern>/deleteReader/*</url-pattern>
    </servlet-mapping>

</web-app>